RewriteEngine On

RewriteBase /www/PRODUCTION/eMailSurvey/web/

RewriteRule ^(mailing)/([0-9]+)/(details)\.html$ index.php?s=$1&a=s&id=$2 [L]
RewriteRule ^(mailing)/([0-9]+)/(da)/(edit)\.html$ index.php?s=$1&a=e&id=$2&da [L]
RewriteRule ^(mailing)/([0-9]+)/(edit)\.html$ index.php?s=$1&a=e&id=$2 [L]
RewriteRule ^(mailing)/([0-9]+)/(dm)/(del)\.html$ index.php?s=$1&a=d&id=$2&dm [L]
RewriteRule ^(mailing)/([0-9]+)/(del)\.html$ index.php?s=$1&a=d&id=$2 [L]

RewriteRule ^(umfragen)/(hinzufuegen)\.html$ index.php?s=polls&a=a [L]

RewriteRule ^(receiver)/([0-9]+)/(edit)\.html$ index.php?s=$1&a=e&id=$2 [L]
RewriteRule ^(receiver)/([0-9]+)/(dr)/(del)\.html$ index.php?s=$1&a=d&id=$2&dr [L]
RewriteRule ^(receiver)/([0-9]+)/(del)\.html$ index.php?s=$1&a=d&id=$2 [L]
RewriteRule ^(receiver)/(import)\.html$ index.php?s=$1&a=a [L]

RewriteRule ^index.html$ index.php?s=index [L]
RewriteRule ^umfragen.html$ index.php?s=polls [L]
RewriteRule ^receiver.html$ index.php?s=receiver [L]